In [1]:
#Read dataset
egitimdf = pd.read_csv('Covid-19/pivot.csv', delimiter='|', header=None)

In [2]:
#Clean the dataset from which has NaN 
#Fill with '0'
egitimdf.drop([0,1,2,3,82], inplace=True)
egitimdf.drop([0,16,2], axis=1, inplace=True)
egitimdf.fillna(0, inplace=True)

In [3]:
#Created new Column names list
col_list = ['Durum', 'Akdeniz','Batı Anadolu',
 'Batı Karadeniz','Batı Marmara','Doğu Karadeniz',
 'Doğu Marmara','Ege','Güneydoğu Anadolu','Kuzeydoğu Anadolu','Orta Anadolu','Ortadoğu Anadolu','Türkiye','İstanbul']
#Set the column names
egitimdf.columns = col_list

Let's take a quick look at what the data looks like

In [4]:
#All columns except 'Durum' converted into numeric
egitimdf.loc[:, ~egitimdf.columns.isin(['Durum'])] = egitimdf.loc[:, ~egitimdf.columns.isin(['Durum'])].apply(pd.to_numeric).astype(int)

,Date,Daily Test,Daily Cases,Daily Deaths,Daily Recovering,Total Intensive Care,Total Intubated
0,11-27 March,47823,5698,92,42,0.0,0.0
1,28 March,7641,1704,16,28,445.0,309.0
2,29 March,9982,1815,23,35,568.0,394.0
3,30 March,11535,1610,37,57,725.0,523.0
4,31 March,15422,2704,46,81,847.0,622.0
...,...,...,...,...,...,...,...
142,16 August,65956,1192,19,997,NaN,NaN
143,17 August,74846,1233,22,1002,NaN,NaN
144,18 August,82318,1263,20,942,NaN,NaN
145,19 August,87223,1303,23,1002,NaN,NaN
146,20 August,92301,1412,19,882,NaN,NaN

In [5]:
bilmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Bilmeyen")].sum())
bilen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Bilen")].sum())
bilinmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Bilinmeyen")].sum())

kadın_bilen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Kadın") & egitimdf['Durum'].str.contains("Bilen")].sum())
kadın_bilmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Kadın") & egitimdf['Durum'].str.contains("Bilmeyen")].sum())
kadın_bilinmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Kadın") & egitimdf['Durum'].str.contains("Bilinmeyen")].sum())

erkek_bilen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Erkek") & egitimdf['Durum'].str.contains("Bilen")].sum())
erkek_bilmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Erkek") & egitimdf['Durum'].str.contains("Bilmeyen")].sum())
erkek_bilinmeyen = pd.Series(egitimdf[egitimdf['Durum'].str.contains("Erkek") & egitimdf['Durum'].str.contains("Bilinmeyen")].sum())

,Date,Daily Test,Total Test,Daily Cases,Total Case,Total Active Case,Daily Deaths,Total Death,% Deaths/Cases Ratio,Daily Recovering,Total Recovering,Total Intensive Care,Total Intubated,% Test/Case Ratio,Daily Case Ranking
0,11-27 March,47823,47823,5698,5698,5564,92,92,1.614602,42,42,0,0,11.914769,1
1,28 March,7641,55464,1704,7402,7224,16,108,0.938967,28,70,445,309,22.300746,41
2,29 March,9982,65446,1815,9217,8981,23,131,1.267218,35,105,568,394,18.182729,39
3,30 March,11535,76981,1610,10827,10497,37,168,2.298137,57,162,725,523,13.957521,47
4,31 March,15422,92403,2704,13531,13074,46,214,1.701183,81,243,847,622,17.533394,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,12 July,45232,3975455,1012,212993,13115,19,5363,1.877470,1298,194515,1209,409,2.237354,89
108,13 July,46492,4021947,1008,214001,12948,19,5382,1.884921,1156,195671,1223,402,2.168115,90
109,14 July,43231,4065178,992,214993,12871,20,5402,2.016129,1049,196720,1204,396,2.294650,93
110,15 July,42320,4107498,947,215940,12788,17,5419,1.795143,1013,197733,1206,401,2.237713,103
111,16 July,42411,4149909,933,216873,12613,21,5440,2.250804,1087,198820,1213,394,2.199901,104

As it seems there are informations about pandemic until 16 July in "update" csv file. Required really update until 20 August.

In [ ]:
new_egitim_df = pd.DataFrame([bilen,bilmeyen, bilinmeyen, kadın_bilen, kadın_bilinmeyen, kadın_bilmeyen, erkek_bilen,erkek_bilinmeyen,erkek_bilmeyen])

In [ ]:
index_list = ["bilen","bilmeyen", "bilinmeyen", "kadın_bilen", "kadın_bilinmeyen", "kadın_bilmeyen", "erkek_bilen","erkek_bilinmeyen","erkek_bilmeyen"]

In [ ]:
new_egitim_df.index = index_list

In [ ]:
new_egitim_df.drop('Durum',axis=1, inplace=True)

In [ ]:
for i in new_egitim_df.index:
    print(i)

In [ ]:
bilen_rate = ((new_egitim_df.loc['bilen'] / (new_egitim_df.loc['bilen'] + new_egitim_df.loc['bilmeyen'] + new_egitim_df.loc['bilinmeyen'])) * 100).sort_values(ascending=False)
bilmeyen_rate = ((new_egitim_df.loc['bilmeyen'] / (new_egitim_df.loc['bilen'] + new_egitim_df.loc['bilmeyen'] + new_egitim_df.loc['bilinmeyen'])) * 100).sort_values(ascending=False)

In [ ]:
#plotting number of test and number of confirmed patients 
fig = px.bar(bilmeyen_rate,
             labels=dict(x="Regions", y="Percentage of Change"),
            title = 'Change Compared to the Previous Week (%)',
            color_discrete_sequence=px.colors.qualitative.G10)
fig.add_bar(x=regiondf["İBBS-1"],y=regiondf["Toplam Vaka Sayısı*"])
fig.update_layout(xaxis = {'categoryorder':'total descending'}, plot_bgcolor='white')
fig.show()

In [ ]:
graddf = pd.read_csv('Covid-19/pivot2.csv', delimiter='|', header=None)

In [ ]:
graddf.drop([0,1,240,2,3,82], inplace=True)
graddf.drop([0,15,2], axis=1, inplace=True)

In [ ]:
graddf.fillna(0, inplace=True)

In [ ]:
col_list2 = ['Durum', 'Akdeniz','Batı Anadolu',
 'Batı Karadeniz','Batı Marmara','Doğu Karadeniz',
 'Doğu Marmara','Ege','Güneydoğu Anadolu','Kuzeydoğu Anadolu','Orta Anadolu','Ortadoğu Anadolu','İstanbul']

In [ ]:
graddf.columns = col_list2

In [ ]:
#All columns except 'Durum' converted into int
graddf.loc[:, ~graddf.columns.isin(['Durum'])] = graddf.loc[:, ~graddf.columns.isin(['Durum'])].apply(pd.to_numeric).astype(int)

In [ ]:
erkek_egit_bilinmeyen = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Bilinmeyen")].sum())
erkek_egit_lise = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Lise")].sum())
erkek_egit_yok_bilen = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Fakat")].sum())
erkek_egit_ilkokul = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("İlkokul")].sum())
erkek_egit_ilkogretim = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("İlköğretim")].sum())
erkek_egit_ortaokul = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Ortaokul")].sum())
erkek_egit_yukseklisans = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Yüksek Lisans")].sum())
erkek_egit_doktora = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Doktora")].sum())
erkek_egit_yuksekokul = pd.Series(graddf[graddf['Durum'].str.contains("Erkek") & graddf['Durum'].str.contains("Yüksekokul")].sum())

kadın_egit_bilinmeyen = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Bilinmeyen")].sum())
kadın_egit_lise = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Lise")].sum())
kadın_egit_yok_bilen = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Fakat")].sum())
kadın_egit_ilkokul = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("İlkokul")].sum())
kadın_egit_ilkogretim = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("İlköğretim")].sum())
kadın_egit_ortaokul = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Ortaokul")].sum())
kadın_egit_yukseklisans = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Yüksek Lisans")].sum())
kadın_egit_doktora = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Doktora")].sum())
kadın_egit_yuksekokul = pd.Series(graddf[graddf['Durum'].str.contains("Kadın") & graddf['Durum'].str.contains("Yüksekokul")].sum())

In [ ]:
genel_egit_df = pd.DataFrame([erkek_egit_bilinmeyen,erkek_egit_lise,erkek_egit_yok_bilen,erkek_egit_ilkokul,erkek_egit_ilkogretim,erkek_egit_ortaokul,erkek_egit_yukseklisans,erkek_egit_doktora,erkek_egit_yuksekokul,kadın_egit_bilinmeyen,kadın_egit_lise,kadın_egit_yok_bilen,kadın_egit_ilkokul,kadın_egit_ilkogretim,kadın_egit_ortaokul,kadın_egit_yukseklisans,kadın_egit_doktora,kadın_egit_yuksekokul])

In [ ]:
genel_egit_df_index_list = ["erkek_egit_bilinmeyen","erkek_egit_lise","erkek_egit_yok_bilen","erkek_egit_ilkokul","erkek_egit_ilkogretim","erkek_egit_ortaokul","erkek_egit_yukseklisans","erkek_egit_doktora","erkek_egit_yuksekokul","kadın_egit_bilinmeyen","kadın_egit_lise","kadın_egit_yok_bilen","kadın_egit_ilkokul","kadın_egit_ilkogretim","kadın_egit_ortaokul","kadın_egit_yukseklisans","kadın_egit_doktora","kadın_egit_yuksekokul"]

In [ ]:
genel_egit_df.index = genel_egit_df_index_list

In [ ]:
genel_egit_df.drop(['Durum'], inplace=True, axis=1)

In [ ]:
genel_egit_df.head()

In [ ]:
#plotting number of test and number of confirmed patients 
fig6 = px.bar(x=genel_egit_df.index,y=genel_egit_df['Akdeniz'],
             labels=dict(x="Regions", y="Percentage of Change"),
            title = 'Change Compared to the Previous Week (%)',
            #color_discrete_sequence=px.colors.qualitative.G10
             )
#fig6.add_bar(x=regiondf["İBBS-1"],y=regiondf["Toplam Vaka Sayısı*"])
fig6.update_layout(xaxis = {'categoryorder':'total descending'}, plot_bgcolor='white')
fig6.show()